<?xml version="1.0"?>
<property>
	<project_num>2</project_num>
	<start_test_node>215</start_test_node>
	<enable_node>0</enable_node>
	<jenkins_path>http://10.0.1.90:8080/jenkins/job/sprdroid6.0_iwhale2_presi_dev</jenkins_path>
	<wait_for_download>300000</wait_for_download>
	<email_subject>Intel SW version of VDK automatic verification report</email_subject>
	<email_recieve>Platform SW Andr Apps Performance Kernel Group</email_recieve>
	<project1>
		<project_name>iwhale2</project_name>
		<vdk_setup_path>D:\Program Files (x86)\Synopsys\Butter3-0.0.6.8</vdk_setup_path>
		<board>iwhale2_vdk-userdebug-native.tar.gz</board>
	</project1>
	<project2>
		<project_name>isharkl2</project_name>
		<vdk_setup_path>D:\Program Files (x86)\Synopsys\Butter2Refresh-0.0.3</vdk_setup_path>
		<board>isharkl2_vdk-userdebug-native.tar.gz</board>
	</project2>
</property>
